body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.button{
  text-transform: capitalize !important;
}

.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  /* color: red !important; */
}
.MuiInputBase-root{
  border: red !important;
}
.MuiOutlinedInput-root{
  border: red !important;

}
.MuiDataGrid-columnHeader{
  background-color: rgb(216, 215, 215);

}